---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heading Structure Issues</title>
  <meta name="description" content="This page has multiple h1 tags">
</head>
<body>
  <h1>First Heading</h1>
  <p>Some content here</p>
  
  <h1>Second Heading - This is a Problem!</h1>
  <p>More content here</p>
  
  <a href="/">Home</a>
</body>
</html>