---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Duplicate Title</title>
  <meta name="description" content="This description is used on multiple pages">
</head>
<body>
  <h1>Duplicate Page 2</h1>
  <p>This page has duplicate metadata with another page</p>
  
  <a href="/">Home</a>
</body>
</html>