---
---
<!DOCTYPE html>
<html>
<head>
  <!-- Deliberately missing title and meta description -->
</head>
<body>
  <p>This page is missing title and meta description</p>
  <!-- Also missing h1 tag -->
  
  <a href="/">Home</a>
</body>
</html>